<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    <b-container fluid id="app">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="danger">
                <b-navbar-brand href="#">Weather Analisys</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="#">Link</b-nav-item>
                        <b-nav-item href="#" disabled>Disabled</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                        </b-nav-form>
                        <b-nav-item-dropdown text="Lang" right>
                            <b-dropdown-item href="#">EN</b-dropdown-item>
                            <b-dropdown-item href="#">ES</b-dropdown-item>
                            <b-dropdown-item href="#">RU</b-dropdown-item>
                            <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>
                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template #button-content>
                                <em>User</em>
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
        <b-container fluid>
            <b-row>
                <b-col>
                    <h5>Analisis del tiempo en </h5>
                    <div>
                        <b-form-select v-model="city" :options="{{ cities }}" :change="changeCity()"></b-form-select>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-container fluid>
            <b-row>
                <b-col cols="6">
                    <div width="400" height="400"><canvas id="myChart3"></canvas></div>
                </b-col>
                <b-col cols="3">
                    <div width="400" height="400"><canvas id="myChart"></canvas></div>
                    <div width="400" height="400"><canvas id="myChart4"></canvas></div>
                </b-col>
                <b-col cols="3">
                    <div width="400" height="400"><canvas id="myChart2"></canvas></div>

                </b-col>
                <br>
            </b-row>
        </b-container>
    </b-container>
    <script>
        Vue.use(BootstrapVue);
        var app1 = new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data() {
                return {
                    city: "malaga",
                    max: null,
                    min: null,
                    years: null,
                    preps: null,
                    medias: null,
                };
            },
            methods: {
                createChart() {
                    console.log(this.max);
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: this.years,
                            datasets: [{
                                label: '# Media de temperaturas máximas',
                                data: this.max,
                                backgroundColor: 'red',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    var ctx2 = document.getElementById('myChart2');
                    var myChart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: this.years,
                            datasets: [{
                                label: '# Media de temperaturas minimas',
                                data: this.min,
                                backgroundColor: 'blue',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    var ctx3 = document.getElementById('myChart3');
                    var myChart3 = new Chart(ctx3, {
                        type: 'line',
                        data: {
                            labels: this.years,
                            datasets: [{
                                fill: false,
                                label: '#Temperaturas medias anuales',
                                data: this.medias,
                                color: "orange",
                                backgroundColor: 'orange',
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    var ctx4 = document.getElementById('myChart4');
                    var myChart4 = new Chart(ctx4, {
                        type: 'line',
                        data: {
                            labels: this.years,
                            datasets: [{
                                fill: false,
                                label: '# Precipitaciones',
                                data: this.preps,
                                color: "blue",
                                backgroundColor: 'blue',
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                },
                async changeCity() {
                    var response = await this.fetchAsync();
                    this.max = response[0];
                    this.years = response[1];
                    this.min = response[2];
                    this.preps = response[4];
                    this.medias = response[3];
                    await this.createChart();
                },
                async fetchAsync() {
                    let response = await fetch("/get_data?city=" + this.city);
                    let data = await response.json();
                    return data;
                }
            },
            async mounted() {
                var response = await this.fetchAsync();
                this.max = response[0];
                this.years = response[1];
                this.min = response[2];
                this.preps = response[4];
                this.medias = response[3];
                await this.createChart();
            },

        });
    </script>
</body>

</html>